# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

############################
# Visual Studio
############################

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/

############################
# Build output
############################

# MSBuild folders
Debug/
Release/
x64/
x86/
build/
out/

# CMake (якщо раптом колись буде)
CMakeFiles/
CMakeCache.txt

############################
# Compiled binaries
############################

*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

############################
# Logs
############################

*.log

############################
# Temporary files
############################

*.tmp
*.temp

############################
# OS files
############################

.DS_Store
Thumbs.db
